body {
    background: url(../assets/HarryPotter.png);
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
}


#fanclub {
    margin: 0px;
    height: 20vh;
    font-size: x-large;
    color: white;
} 
.discoverHouse {
    color: white;
}

#visit {
    background-color: rgb(150, 91, 218);
    color: white;
    border-radius: 5%/50%;
    padding: 10px 300px;   
    
}

/*Picture Formating*/
 .bottomPictures {
    display: flex;
    height: 90vh;
    padding-top: 530px;
    padding-left: 50px;
    padding-right: 50px;
}

#hall img{
    width: 500px;
    height: 250px;
    border-radius: 20%;
    margin-left: 5px;
}
#harryWBird img{
    width: 500px;
    height: 250px;
    border-radius: 20%;
    margin-left: 5px;
}
#Hogwarts img{
    width: 500px;
    height: 250px;
    border-radius: 20%;
    margin-left: 5px;
} 


/*Animation*/
/* .diamonds {
    animation-name: diamondAppear;
    animation-duration: 4s;
}
.diamond1 {
    width: 5px;
    height: 5px;
    border: 50px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    position: relative;
    top: 90px;
    left: 940px;
}
@keyframes diamondAppear {
    0% {background-color: white;;}
    25% {background-color: rgba(255, 255, 255, 0.747);}
    50% {background-color: rgba(255, 255, 255, 0.507);}
    75% {background-color: rgba(255, 255, 255, 0.212);}
    100% {background-color: rgba(255, 255, 255, 0);}
}
.diamond1:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    width: 5px;
    height: 5px;
    border: 50px solid transparent;
    border-top-color: rgb(255, 255, 255);
    animation-name: diamondAppear;
    animation-duration: 4s;
    
} */

/*Picture P tag formatting */
#hall p1 {
    text-decoration: underline;
    color: white;
    font-size: x-large;
    padding-right: 500px;
}
#hall p {
    color: white;
    font-size: x-large;
}
#harryWBird p1 {
    text-decoration: underline;
    color: white;
    font-size: x-large;
    
    padding-right: 500px
}
#harryWBird p {
    color: white;
    font-size: x-large;
}
#Hogwarts p1 {
    text-decoration: underline;
    color: white;
    font-size: x-large;
}
#Hogwarts p {
    color: white;
    font-size: x-large;
}
